{% extends "blog/base.html" %}
{% block content %}
<h1>About me</h1>
<p>Being a young adult, I possess new and innovative ideas. I have the dedication and determination towards work. I am able to adapt myself to the requirements of the organizations. And being a fresher I need a platform to explore my knowledge. Therefore, I hope your requirements and my needs will match.

Experienced Founder with a demonstrated history of working in the education management industry. Skilled in Python (Programming Language), Leadership, Web Development, Data Science, and Django. Strong business development professional with a Bachelor's degree focused in Computer Engineering from the University of Rajasthan.</p>

{% endblock %}
